body {
    padding: 0;
    margin: 0;
  }

  header {
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  header img {
    width: 100px;
    object-fit: cover;
  
  }

  main {
    padding: 20px;
  }

  footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 30px;
  }

  .card {
    width: 100%;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
  }

  .card img{
    border-radius: 5px;
  }

  .card-content {
    padding: 10px;
  }

  .card-content a {
    background-color: rgb(234, 152, 0);
    color: black;
    padding: 3px 8px;
    text-decoration: none;
    border-radius: 5px;
  }

  .menu ul{
    list-style-type:none;
    padding: 0;
  }
  
  .menu ul li{
    display: inline;
    margin: 0 20px;
    position: relative;
  }
  
  .menu ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .menu ul li .posts-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: olive;
    padding: 10px 20px;
    width: 45px;
    border-radius: 5px;
  }
  
  .menu ul li:hover .posts-list{
    display: block;
  
  }
  
  .menu ul li .posts-list ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .menu ul li .posts-list ul li{
    margin: 5px 0;
  }
  
  .menu ul li .posts-list ul li{
    color: white;
    text-decoration: none;
  }
  

  @media screen and (max-width: 767px) {
    .row {
      display: block;
    }
    .card {
      display: block;
    }
  
    .card img{
      width: 100%;
    }
  }